
$theme-red: #ff266e;
$theme-blue: #59f1ff;
$theme-green: #7effb4;
$theme-gray: #c3c3c3;
$theme-gold: #a58966;



$rating-general: #0cc98a;
$rating-teen: #0d8eff;
$rating-mature: #ff1919;

$gray: #1d1d1f;
$theme-gray: #33334a;
$theme-gray-lighter: #727294;
$theme-gray-lightest: #a5a5c9;
$white: white;

$theme-light:#b587ff;
$theme-main: #7642c9;
$theme-dark: #381c66;
